{% extends 'bootstrap/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">

{% block title %}
MY F
{% endblock %}
</head>
{% block content %}
    {% include '_navbar.html'%}
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('login') }}">Login</a>
<a href="{{ url_for('contact') }}">Contact</a>
    {% block base_01 %}
        {% block sub_content %}
        {% endblock %}
    {% endblock %}

<h1>Ввод данных</h1>

        <hr>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="alert alert-{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

<h1>Base</h1>

{% endblock %}





</html>