{% extends 'base.html' %}

    {% block base_01 %}

<div class="jumbotron"><h1>WELC0ME1!</h1></div>
    <img src={{url_for('static', filename='1.jpg')}} height="300">
       <ul> {% for color in colors %}
           <li>{{color}}</li>
        {% endfor %}
        {% if 'red' in colors %}
           <p>RED IN LIST</p>
           {% else %}
           <p>RED NOT IN LIST</p>
           {% endif %}
       </ul>

    <form method="POST">
        Name:<input type="text" name="name"/>
        Age:<input type="text" name="age"/>
        <input type="submit" />
    </form>

    <input type="submit" name="submit_button" value="Do Something">
    <input type="submit" name="submit_button" value="Do Something Else">
    {% endblock %}



